# Dependências
node_modules/
.pnp
.pnp.js

# Next.js
/.next/
/out/
build/

# Variáveis de Ambiente (MUITO IMPORTANTE)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testes e Cobertura
coverage/

# OS
.DS_Store
Thumbs.db