@import "tailwindcss"; /* Nova sintaxe simplificada do Tailwind v4 */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  background-color: #f8fafc; /* gray-50 */
}